<h2>
  <%= @cheese.name %>
</h2>

<p>
  <strong>Milk Type:</strong>
  <%= @cheese.milk_type %>
</p>

<p>
  <img src="<%= @cheese.image_url %>">
</p>

<p>
  <strong>Description:</strong>
  <%= @cheese.description %>
</p>

<a href='/cheeses/<%= @cheese.id %>/edit'>Edit </a>
