<h3>New Cheese</h3>

<%= form_for(@cheese) do |f| %>
  <%= f.label :name %>
  <%= f.ltext_field :name %> <br>


  <%= f.label :milk_type %>
  <%= f.ltext_field :milk_type %> <br>


  <%= f.label :image_url %>
  <%= f.ltext_field :image_url %> <br>


  <%= f.label :description %>
  <%= f.ltext_field :description %> <br>

  <%= f.submit %>
<%= end %>
